ul.toplist{
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		}
		
		body{
		   background-image: url("網頁底底.jpg");
		   width: 100%;
		   height: 100%;
		   background-repeat: no-repeat;
		   background-size: cover;
		   background-position: 50% 0;
		   text-align: center;
		}
		
		body:before {
	     content: '';
	      display: inline-block;
	      vertical-align: middle;
	      height: 100%;
         }
		 
		 .code-string { color:#ec7600 }
         .code-cbracket { font-weight:bold }
         .code-number { color:#ffcd22 }

		li{
		  float: right;
		}
		
		li a {
		   display: block;
		   color: white;
		   text-align: center;
		   padding: 10px 80px;
		   text-decoration: none;
		   
		}
		
		li a:hover {
		   //background-color: rgb(1,4,67);
		}
		
		div.wordleft{
		   font-size:12px;
		   color: white;
		   position: fixed;
		   bottom: 320px;
		   left: 190px;
		   width: 350px;
		   line-height: 13px;
		   text-align: left;
		  
		}
		
		
		
	    div.list1{
		   position: absolute;
		   top: 0;
		   right: 0;
		   width:100%;
		   border: 3px solid #541245;
		   color: white;
		   font-family: "Courier",serif;
		   font-size: 20px;
		}
		


        div.listright{
		   position: fixed;
		   bottom: 463px;
		   left: 152px;
		   width: 400px;
		   font-style: oblique;
		}

        img.app{

              width: 100px;
		}		
		
		div.listleft{
		   text-align: center;
		   position: absolute;
		   bottom: 26%;
		   left: 70%;
		   width: 20%;
		   height: 38%;
		   border: 2px solid #221541;
		   border-radius:10px;
		   color: white;
		   background-color: rgba(0,0,0,0.3);
		}
		input{
		  background-color: black;
		  border-radius: 10px;
		}
		
		div.app1{
		   text-align: center;
		   position: absolute;
		   bottom: 164px;
		   left: 72px;
		   width: 300px;
		   color: white;
		}
		
		div.app2{
		   text-align: center;
		   position: absolute;
		   bottom: 210px;
		   left: 72px;
		   width: 300px;
		   color: white;
		}
		
		div.app3{
		   text-align: center;
		   position: absolute;
		   bottom: 20px;
		   left: 239px;
		   width: 300px;
		   color: white;
		   
		}

		
		h1{
		   color: white;
		   font-size: 80px;
		   font-style: oblique;
		   font-weight: bold;
		}
		h2{
		   color: white;
		   font-size:20px;
		   font-style: oblique;
		   font-weight: bold;
		}
	    
		.button{
	    	background-color: #4CDF54;
	        border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size:12px;
			padding: 5px 20px;
			width: 183px;
			height: 10%;
			
		}
		
		.buttoninput{border-radius: 25px;}